@import "variables";
@import "modal-windows";

header {
  padding: $padding;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(35, 35, 35, .6)), to(rgba(35, 35, 35, .6))),
  url("../img/web/weightlifting_web.jpg") center center;
  background: -o-linear-gradient(rgba(35, 35, 35, .6), rgba(35, 35, 35, .6)),
  url("../img/web/weightlifting_web.jpg") center center;
  background: linear-gradient(rgba(35, 35, 35, .6), rgba(35, 35, 35, .6)),
  url("../img/web/weightlifting_web.jpg") center center;
  background-size: cover;

  .main_section {
    margin-top: $margin * 3;
  }
}

main {
  background-color: $gray_color;
}

.contact_box {
  padding: $padding;

  .contact_info {
    margin-top: $margin * 2;
    margin-bottom: $margin*3;

    .item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      margin: 15px 0;
    }

    .item_icon_container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 30px;

      .fas {
        font-size: 25px;
        color: $main_color;
      }
    }

    .item_span_container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-left: $margin;

      .verb_span {
        color: $main_color;
        text-transform: uppercase;
        font-size: $s_font_size;
        font-family: $book;
      }

      .colored_span {
        color: $accent_color;
        margin: 0;
        font-size: $s_font_size;
        font-family: $text;
        text-decoration: none;
      }
    }
  }
  .contact_form {
    margin-bottom: $margin;

    input[type=text], [type=email], textarea {
      width: 100%;
      padding: $padding;
      border: none;
      background: lighten($gray_color, 10%);
      -webkit-appearance: none;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin-bottom: $margin;
      font-size: $s_font_size;
      font-family: $book;
      outline: none;
      color: $main_color;
    }

    input[type=submit] {
      -webkit-appearance: none;
      @include button;
      width: 100%;
    }

    input[type=submit]:hover {
      background-color: darken($accent_color, 5%);
    }
  }
}

///////////// RESPONSIVE


@media (min-width: 550px) {
  main {
    .contact_box .contact_form input[type=submit] {
      width: 300px;
    }

    .contact_info {
      display: flex;
      flex-direction: row;

      .item {
        flex: 1;
      }
    }
  }
}

@media (min-width: 750px) {

  header .main_section {
    max-width: $max_width;
    margin: $margin * 3 auto;
    padding: 0 $padding * 3;
  }

  main {
    padding: 0;

    .contact_box {
      max-width: $max_width;
      margin: 0 auto;
      padding: $padding * 4 $padding * 4 $padding * 2 $padding * 4;

      .contact_info {
        margin-top: 0;
      }

      .contact_form {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: 1000px) {
  .contact_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'info form';

    .contact_info {
      height: 100%;
      background: linear-gradient(rgba(35, 35, 35, .9), rgba(35, 35, 35, .9)),
      url("../img/web/rings_web.jpg") center center;
      background-size: cover;

      grid-area: info;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .item {
        flex: unset;
      }
    }

    .contact_form {
      margin-left: $margin * 3;
      grid-area: form;
    }
  }
}
