@import "variables";

@media (min-width: 550px) {
  main {
    .contact_box .contact_form input[type=submit] {
      width: 300px;
    }

    .contact_info {
      display: flex;
      flex-direction: row;

      .item {
        flex: 1;
      }
    }
  }
}

@media (min-width: 750px) {

  header .main_section {
    max-width: $max_width;
    margin: $margin * 3 auto;
    padding: 0 $padding * 3;
  }

  main {
    padding: 0;

    .contact_box {
      max-width: $max_width;
      margin: 0 auto;
      padding: $padding * 4 $padding * 4 $padding * 2 $padding * 4;

      .contact_info {
        margin-top: 0;
      }

      .contact_form {
        margin-bottom: 0;
      }
    }
  }
}

@media (min-width: 1000px) {
  .contact_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'info form';

    .contact_info {
      height: 100%;
      background: linear-gradient(rgba(35, 35, 35, .9), rgba(35, 35, 35, .9)),
      url("../img/web/rings_web.jpg") center center;
      background-size: cover;

      grid-area: info;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .item {
        flex: 0;
      }
    }

    .contact_form {
      margin-left: $margin * 3;
      grid-area: form;
    }
  }
}