@import "variables";

body {
  width: 100%;
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
}

header {
  padding: $padding;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
  url("../img/web/run_man_web.jpg") center center;
  background-size: cover;

  nav {
    display: flex;
    flex-direction: column;

    .desktop_logo {
      display: none;
    }

    .mobile_logo {
      width: 100px;
      margin: 0 auto;
    }

    .navigation ul {
      display: flex;
      list-style-type: none;
      justify-content: space-between;
      margin-top: $margin;


      li a {
        z-index: 0;
        position: relative;
        font-family: $text;
        color: $main_color;
        text-decoration: none;
        text-transform: uppercase;
        font-size: $s_font_size;

        .fa-shopping-bag {
          color: $accent_color;
        }
      }
    }
  }

  .main_section {
    margin-top: $margin * 5;

    h1 {
      font-family: $header_upper;
      font-size: $m_font_size;
      text-transform: uppercase;
      color: $main_color;
      margin-bottom: $margin;
    }

    p {
      color: $main_color;
      font-family: $text;
      font-size: $s_font_size;
    }
  }
}

main {
  .skills {
    background-color: $gray_color;
    padding: $padding $padding $padding*2
    $padding;

    display: flex;
    flex-direction: column;

    h2 {
      @include h2;
    }

    .skills_items {
      width: 100%;
      display: flex;
      flex-direction: row;

      .items_left_col,
      .items_right_col {
        flex: 1;
      }

      .item {
        display: flex;
        align-items: center;
        margin: 15px 0;

        .item_img_icon {
          height: 25px;
          display: flex;
          align-items: center;

          img {
            width: 25px;
          }
        }

        .item_icon_container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;

          .fas {
            font-size: 25px;
            color: $main_color;
          }
        }

        .item_span_container {
          font-family: $text;
          font-size: $s_font_size;

          .verb_span {
            margin-left: 10px;
            color: $main_color;
          }

          .colored_span {
            color: $accent_color;
            margin: 0;
          }
        }
      }
    }
    button {
      width: 100%;
      @include button;
      margin-top: $margin*2;

      a {
        text-decoration: none;
        color: $main_color;
      }
    }
  }
  .why_it_works {
    display: flex;
    flex-direction: column;
    padding: $padding*2 $padding $padding $padding;

    h2 {
      @include h2;
      color: $second_color;
    }

    article {
      margin-bottom: $margin;

      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        filter: brightness(90%);
      }

      .description {
        padding: $padding 0;

        h3 {
          font-family: $medium;
          font-size: $m_font_size;
          color: $second_color;
          margin-bottom: $margin;
          letter-spacing: -1px;
        }

        p {
          color: $second_color;
          font-family: $book;
          font-size: $xs_font_size;
        }

        button {
          @include button;
          width: 50%;
          padding: 10px;
          margin: 20px 0 0 0;
        }
      }
    }
  }
  .workout {

    article {
      background: linear-gradient(rgba(35, 35, 35, 0.7), rgba(35, 35, 35, 0.7)),
      url('../img/web/rings_web.jpg') center top;
      background-size: cover;
      padding: $padding*2 $padding;

      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        @include h2;
      }

      p {
        color: $main_color;
        font-family: $book;
        font-size: $s_font_size;
        margin-bottom: $margin * 2;
      }

      button {
        @include button;
        width: 100%;
      }
    }
  }
}

footer {
  background-color: $gray_color;
  padding: $padding;

  .footer_container {
    margin: $margin 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: $margin;

      ul {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-bottom: $margin;
      }
      ul li {
        list-style-type: none;
        text-align: right;

        a {
          color: $main_color;
          font-family: $text;
          font-size: $s_font_size;
          text-decoration: none;

          .fa-shopping-bag {
            color: $accent_color;
          }
        }
      }

      img {
        width: 100px;
        margin-bottom: $margin;
      }
    }

    .footer_social {
      display: flex;
      flex-direction: column;
      align-items: center;

      .social_icons {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-bottom: 5px;

        a i:hover {
          color: $accent_color;
        }

        i {
          font-size: 20px;
          color: $main_color;
        }

        .fa-facebook-f {
          margin: 0 $margin;
        }
      }

      .credits {
        text-align: center;

        span, p {
          color: rgba($main_color, .8);
          font-family: $text;
          font-size: $xs_font_size;
          margin: 0;
        }

        a {
          text-decoration: none;
          color: $accent_color;
        }
      }
    }
  }
}

@import "responsive";