@import "variables";


body {
  width: 100%;
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
}

header {
  padding: $padding;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
  url("../img/run_man.jpg") center center;
  background-size: cover;


  nav {
    display: flex;
    flex-direction: column;

    .desktop_logo {
      display: none;
    }

    .mobile_logo {
      width: 100px;
      margin: 0 auto;
    }

    .navigation ul {
      display: flex;
      list-style-type: none;
      justify-content: space-between;
      margin-top: $margin;


      li a {
        font-family: $text;
        color: $main_color;
        text-decoration: none;
        text-transform: uppercase;
        font-size: $s_font_size;

        .fa-shopping-bag {
          color: $accent_color;
        }
      }
    }
  }

  .main_section {
    margin-top: $margin*5;

    h1 {
      font-family: $header_upper;
      font-size: $m_font_size;
      text-transform: uppercase;
      color: $main_color;
      margin-bottom: $margin;
    }

    p {
      color: $main_color;
      font-family: $text;
      font-size: $s_font_size;
    }
  }
}

main {

  .workout {

    img {
      display: none;
    }

    article {
      background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url('../img/rings.jpg') center top;
      background-size: cover;
      padding: $padding*2 $padding;

      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        @include h2;
      }

      p {
        color: $main_color;
        font-family: $text;
        font-size: $s_font_size;
        margin-bottom: $margin * 2;
      }

      button {
        @include button;
      }
    }
  }

  .skills {
    background-color: $gray_color;
    padding: $padding*2 $padding;

    display: flex;
    flex-direction: column;
    //align-items: center;

    h2 {
      @include h2;
    }

    .skills_items {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .items_left_col {
        flex: 1;
      }

      .items_right_col {
        flex: 1;
      }

      .item {
        display: flex;
        align-items: center;
        margin: 15px 0;

        img {
          width: 30px;
        }

        .item_icon_container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;

          .fas {
            font-size: 25px;
            color: $main_color;
          }
        }

        .item_span_container {

          span {
            margin-left: 10px;
            color: $main_color;
            font-family: $text;
            font-size: $s_font_size;
          }

          .colored_span {
            color: $accent_color;
            margin: 0;
          }
        }
      }
    }

    button {
      @include button;
      margin-top: $margin*2;
    }
  }

  .why_it_works {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding*2 $padding;

    h2 {
      @include h2;
      color: $second_color;
    }

    article {
      margin-bottom: $margin*2;

      img {
        width: 100%;
        filter: brightness(90%);
      }

      .description {
        padding: $padding 0;

        h3 {
          font-family: $medium;
          font-size: $m_font_size;
          color: $second_color;
          margin-bottom: $margin;
        }

        p {
          color: $second_color;
          font-family: $book;
          font-size: $s_font_size;
        }
      }

      button {
        @include button;
      }
    }

    button {
      @include button;
      margin: 0 auto;
    }
  }
}

footer {
  background-color: $gray_color;
  padding: $padding;

  .footer_container {
    margin: $margin 0;
    display: flex;
    align-items: center;

    span {
      flex: 1;
      color: $main_color;
      font-family: $text;
      font-size: $xs_font_size;
    }

    .footer_img_box {
      flex: 2;
      text-align: center;

      img {
        width: 100px;
      }
    }

    nav {
      flex: 1;
      text-align: center;

      ul li {
        list-style-type: none;

        a {
          color: $main_color;
          font-family: $text;
          font-size: $xs_font_size;
          text-decoration: none;
        }
      }
    }
  }
}

@import "responsive";