@import "variables";

//responsive for HOME Page

@media (min-width: 550px) {
  header nav .mobile_logo {
    width: 150px;
    margin: 0;
  }

  main .workout article button,
  main .skills .skills_box button {
    @include button;
    width: 50%;
  }

  footer {
    .footer_container {
      max-width: $max_width;
      margin: $margin auto;

      nav {
        display: flex;
        flex-direction: row;

        ul {
          display: flex;
          justify-content: unset;
          width: auto;
          margin-bottom: $margin;
        }
        ul li {
          margin-left: $margin;
          list-style-type: none;
          text-align: right;
        }
      }

      .footer_social {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;

        .social_icons {
          width: auto;
          margin-bottom: 0;
        }

        .credits {
          text-align: left;
        }
      }
    }
  }
}

@media (min-width: 750px) {
  body {
    width: 100%;
    margin: auto;
  }

  main .workout article button,
  main .skills .skills_box button {
    @include button;
    width: 300px;
  }

  main .why_it_works article .description button {
    @include button;
    width: 100%;
  }

  header nav {
    max-width: 1380px;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 $padding * 3;

    .mobile_logo {
      display: none;
    }

    .desktop_logo {
      display: block;
      width: 110px;
    }

    .navigation ul li {
        margin-left: $margin;

      a:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 0;
        bottom: -2px;
        left: -5px;
        background-color: rgba($accent_color, .5);
        visibility: hidden;
        transition: all 0.1s ease-in-out;
        z-index: -1;
      }
      a:hover:before {
        visibility: visible;
        height: 10px;
      }

      .active {
        content: "";
        position: absolute;
        width: 100%;
        height: 0;
        bottom: -2px;
        left: -5px;
        background-color: rgba($accent_color, .5);
        z-index: -1;
      }
    }
  }

  header .main_section {
    max-width: $max_width;
    margin: $margin * 7 auto;
    padding: 0 $padding * 3;

    .main_header h1 {
      font-size: $l_font_size;
    }
  }

  main {
    background: lighten($gray_color, 83%);

    .skills {
      display: flex;
      align-items: center;
      padding-top: 0;
      padding-bottom: $padding * 4;

      .skills_box {
        max-width: $max_width;
        text-align: center;
        width: 90%;

        .skills_items {
          div {
            display: flex;
            flex-direction: row;

            .item {
              flex: 1;
              margin-bottom: $margin;
              flex-direction: column;

              .item_img_icon {
                height: 35px;

                img {
                  width: 35px;
                }
              }

              .item_icon_container {
                margin-bottom: 10px;

                .fas {
                  font-size: 35px;
                }
              }

              .item_span_container {
                .verb_span {
                  margin-left: 0;
                }
                .colored_span {
                  padding: 0 5px;
                }
              }
            }
          }
        }
        button:hover {
          background-color: darken($accent_color, 5%);
        }
      }
    }
    .why_it_works {
      max-width: $max_width;
      margin: 0 auto;
      padding: $padding * 4 $padding * 4;
      background: lighten($gray_color, 83%);

      h2 {
        margin-bottom: $margin * 4;
        font-size: $xl_font_size;
      }

      article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'image article';
        align-items: center;
        margin: 0;
        background: $main_color;

        img {
          grid-area: image;
          height: 400px;
          width: 100%;
        }
        .description {
          grid-area: article;
          justify-self: center;
          width: 70%;

          h3 {
            font-size: $xl_font_size;
          }

          p {
            font-size: $s_font_size;
          }

          button:hover {
            background-color: darken($accent_color, 5%);
          }
        }
      }
      .reverse > img {
        grid-column: 2;
        justify-self: end;
      }
      .reverse > .description {
        grid-column: 1;
        margin-left: 0;
        margin-right: $margin;
        width: 70%;
        justify-self: center;
      }
    }
    .workout {
      article {
        align-items: center;
        padding: $padding*3 0;

        h2 {
          font-size: $xl_font_size;
          margin-bottom: $margin;
        }

        p {
          font-size: $s_font_size;
        }

        button:hover {
          background-color: darken($accent_color, 5%);
        }
      }
    }
  }
  footer {
    .footer_container {
      margin: $margin * 2 auto;
      padding: 0 $padding * 4;
    }
  }
}

@media (min-width: 1000px) {
  main .why_it_works article .description button {
    width: 300px;
  }
}