
@import "variables";
@import "modal-windows";

p {
  margin-bottom: 0;
}

header {
  padding: $padding;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url("../img/web/barbell_web.jpg") center center;
  background-size: cover;

  nav .navigation ul .fa-shopping-bag {
    color: $main_color !important;
  }

  .main_section {
    margin-top: $margin * 2;
  }
}

main {
  padding: $padding;

  .products_box {
    display: grid;
    grid-template-columns: 1fr;

    .product {
      margin-bottom: $margin;
      background-color: transparent;
      border: none;

      &__img {
        height: 300px;

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }
      }

      &__img:hover {
        img {
          filter: brightness(90%);
          cursor: pointer;
        }
      }

      &__details {
        display: flex;
        flex-direction: column;
        margin-top: $margin;

        &__price {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 1rem;

          .price {
            font-family: $text;
            font-size: $s_font_size;
          }

          .plus {
            position: relative;
            width: 50px;
            text-align: right;
            font-size: $xm_font_size;
            font-family: $text;
            color: $accent_color;
            line-height: 0;
            border: none;
            background-color: transparent;
            padding-bottom: .2rem;
            outline: none;

            span {
              position: absolute;
              font-size: $m_font_size;
              font-family: $book;
              right: 3px;
              top: 12px;
              transition:0.2s ease-in-out;
            }
          }
          .plus:hover > span {
            right: 25px;
          }
        }
        &__name {
          display: flex;
          flex-direction: column;
          margin-bottom: $margin;

          h4 {
            font-family: $medium;
            font-size: $s_font_size;
            line-height: 0;
          }

          p {
            font-family: $medium;
            font-size: $xs_font_size;
            color: lighten($second_color, 50%);
          }
        }
      }
    }
  }
}

///////////// RESPONSIVE

@media (min-width: 550px) {
  main {
    .products_box {
      grid-template-columns: 1fr 1fr;
      grid-gap: $margin;
    }
  }
}

@media (min-width: 750px) {

  header .main_section {
    max-width: $max_width;
    margin: $margin * 3 auto;
    padding: 0 $padding * 3;
  }

  main {
    padding: 0;

    .products_box {
      max-width: $max_width;
      margin: 0 auto;
      padding: $padding * 4 $padding * 4;
    }
  }
}

@media (min-width: 1000px) {
  main {
    .products_box {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: $margin;
    }
  }
}

@media (min-width: 1200px) {
  main {
    .products_box {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: $margin;
    }
  }
}
